<h1>All Recipes</h1>

<% if @recipes.length == 0 %>
  <h3>Ooops, we don't have any recipes with those ingredients. You should probably either go grocery shopping. <br /> ...or get creative with what you have! If it's tasty, let us know and submit a recipe!</h3>
<% end %>


<% @recipes.sort {|a,b| a.missing_ingredients <=> b.missing_ingredients}.each do |r| %>
  <div class="card col-md-6">
    <h1 class="card-title"><%= link_to "#{r.title}", recipe_path(r) %></h1>
    <img class="card-img-top" src='<%= r.image %>'>
    <div class="card-block">
    <h3 class="card-text">By <%= r.author %></h3>
    <% if r.missing_ingredients.length > 0 %>
    <hr />
      <h6>You're missing:</h6>
      <ul>
      <% r.missing_ingredients.each do |i| %>
        <li> <%= i.name %></li>
      <% end %>
      </ul>
    <% else %>
      <p>You should have everything that you need to make <%= r.title %>. Bon appetit!</p>
    <% end %>
    <p class="lead"><%= link_to "Visit Yummly to access full instructions", "http://#{r.directions}" %></p>
  </div>
</div>

<% end %>
