<h1>All Recipes</h1>


<%= @recipes.each do |r| %>
  <div class="panel panel-default">
    <div class="panel-heading"><h1><%= link_to "#{r.title}", recipe_path(r) %></h1></div>
    <div class="panel-body">
    <img class="card-img-top" src='<%= r.image %>'>
    <h3>By <%= r.author %></h3>
    <p class="lead"><%= r.directions %></p>
    <% if r.missing_ingredients.length > 0 %>
    <hr />
      <h6>You're missing:</h6>
      <ul>
      <% r.missing_ingredients.each do |i| %>
        <li>i.name</li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
</br>
<% end %>
