<h5>Enter the food that you have on hand and we'll serve up some delicious recipes for you to try!</h5>

<div width=50%; float="left">
  <h6>Select your foods:</h6>
  <input type="text" class="live-search-box" placeholder="Type ingredient name" />
  <%= form_tag(recipes_path, method: "get") do %>
  <ul class="live-search-list">
    <% @ingredients.sort.each do |i| %>
    <label>
      <div class="ck-button">
          <%= check_box_tag "ingredient[ingredient_index][]", i.id %>
          <span><%= label_tag(i.name) %></span>
      </div>
    </label>
    <% end %>
  </ul>
</div>

<div id="pantry">
  <h6>Your pantry:</h6>
  <% @pantry.each do |item| %>
  <div class="ck-button">
    <label>
      <span> <%= item %> </span>
    </label>
  </div>
  <% end %>
</div>

<%= submit_tag "Search", :class => "btn" %>
<% end %>
