<h5>Enter the food that you have on hand and we'll serve up some delicious recipes for you to try!</h5>

<div width=50%; float="left">
  <h6>Select your foods:</h6>
  <input type="text" class="live-search-box" placeholder="Type ingredient name" />
  <%= form_tag(recipes_path, method: "get") do %>
  <ul class="live-search-list">
    <% @ingredients.each do |i| %>
    <li>
      <%= check_box_tag "ingredient[ingredient_index][]", i.id%>
      <button class="ingredient"><%= label_tag(i.name) %></button>
    </li>
    <% end %>
  </ul>
</div>

<div>
  <h6>Your pantry:</h6>
  <% @pantry.each do |item| %>
    <button class="ingredient"> <%= item %> </button>
  <% end %>
</div>


<%= submit_tag "Search" %>
<% end %>
