<div class="search-ingredients" width=50%; float="left">
    <h4 class="lead">Enter the food that you have on hand and we'll serve up some delicious recipes for you to try!</h5>
</br>

<!-- Search Ingredient Form -->
  <div class="text-xs-center">
      <h6>Select your foods:</h6>

      <input type="text" class="live-search-box" placeholder="Type ingredient name"/>
      <%= form_tag(recipes_path, method: "get") do %>

      <%= submit_tag "Search", :class => "btn btn-success"%>
  </div>

  <ul class="live-search-list">
    <% @ingredients.sort.each do |i| %>
    <label>
      <div class="ck-button">
        <% if current_user %>
          <%= check_box_tag "ingredient[ingredient_index][]", i.id, current_user.ingredients.include?(i) %>
        <% else %>
          <%= check_box_tag "ingredient[ingredient_index][]", i.id, false %>
        <% end %>
          <span><%= label_tag(i.name) %></span>
      </div>
    </label>
    <% end %>
  </ul>

<% if current_user %>
<button type="button" id="savePantry" class="btn btn-info pull-xs-right">Save Pantry</button>
<% end %>

<button type="button" id="clearPantry" class="btn btn-warning pull-xs-right">Clear Pantry</button>

<% end %>
</br>
</br>

</div>
