<h5>Enter the food that you have on hand and we'll serve up some delicious recipes for you to try!</h5>

<div width=50%; float="left">
  <h6>Select your foods:</h6>
  <input type="text" class="live-search-box" placeholder="Type ingredient name" />

  <button type="button" id="clearPantry" class="btn btn-warning">Clear Selected</button>

  <%= form_tag(recipes_path, method: "get") do %>
  <ul class="live-search-list">
    <% @ingredients.sort.each do |i| %>
    <label>
      <div class="ck-button">
        <% if current_user %>
          <%= check_box_tag i.id, current_user.ingredients.include?(i) %>
        <% else %>
          <%= check_box_tag i.id, false %>
        <% end %>
          <span><%= label_tag(i.id, i.name) %></span>
      </div>
    </label>
    <% end %>
  </ul>
</div>

<%= submit_tag "Search", :class => "btn" %>
<% end %>
