<div class="search-ingredients" width=50%; float="left">
    <h4 class="lead">Enter the food that you have on hand and we'll serve up some delicious recipes for you to try!</h5>
</br>

<!-- Search Ingredient Form -->
  <div>
      <h6>Filter your pantry:</h6>
      <input type="text" class="live-search-box" placeholder="Type ingredient name"/>
      <%= form_tag(recipes_path, method: "get") do %>
  </div>

  <div>
    <button type="button" id="clearPantry" class="btn btn-warning pull-right">Clear Pantry</button>
    <%= submit_tag "Search", :class => "btn btn-success pull-right"%>
  <br />
  <br />
    <ul class="live-search-list" id="allIngredients">
      <% @ingredients.sort.each do |i| %>
      <label>
        <div class="ck-button">
          <% if current_user %>
            <%= check_box_tag i.id, false, current_user.ingredients.include?(i) %>
          <% else %>
            <%= check_box_tag i.id, false, false %>
          <% end %>
            <span><%= label_tag(i.id, i.name.capitalize) %></span>
        </div>
      </label>
      <% end %>
    </ul>
  </div>

<% end %>

</div>
