
<div class="card card-inverse text-xs-center recipe_card">
  <div>
    <% if current_user && !current_user.recipes.include?(@recipe) %>
      <%= link_to "", new_user_star_path, method: :post, 'class' => 'pull-right fa fa-star-o fa-2x recipe_fav' %>
    <% elsif current_user && current_user.recipes.include?(@recipe) %>
      <%= link_to "", delete_user_star_path(@recipe.id), method: :delete, 'class' => 'pull-right fa fa-star fa-2x recipe_fav' %>
    <% end %>
    <div>
  <div class="recipe_all">
    <h2><%= @recipe.title.titleize %></h2>
    <h4>Provided by <%= @recipe.author %></h4>
    <div class="row">
      <div class="col-sm-4">
        <img class="recipe_img" src=" <%= @recipe.image %> "/>
      </div>
      <div class="col-sm-8 recipe_content">
        <br>
        <h4>Ingredients:</h4>
        <% @recipe.ingredients.each do |i| %>
        <li><%= i.name.capitalize %></li>
        <% end %>
        <br>
        <h4>This recipe was sourced from Yummly! </br>
          Please click here to
          <%= link_to 'visit Yummly', "http://#{@recipe.directions}", :target => '_blank' %>
          and access the full instructions.
        </h4>
      </div>
    </div>
  </div>
</div>
