
<div class="card card-inverse text-xs-center">

  <% if current_user && !current_user.recipes.include?(@recipe) %>
    <%= button_to "Add to Favorites", new_user_star_path, method: :post, 'class' => 'btn pull-right' %>
  <% elsif current_user && current_user.recipes.include?(@recipe) %>
    <%= button_to "Remove from Favorites", delete_user_star_path(@recipe.id), method: :delete, 'class' => 'btn pull-right' %>
  <% end %>

</br>
</br>

  <h2><%= @recipe.title %></h2>
  <img src=" <%= @recipe.image %> "/>

  <h4>Provided by <%= @recipe.author %></h4>
  <h4>Ingredients:</h4>

    <% @recipe.ingredients.each do |i| %>
      <li><%= i.name.capitalize %></li>
    <% end %>

    <h4>This recipe was sourced from Yummly! </br>
      Please click here to
      <%= link_to 'visit Yummly', "http://#{@recipe.directions}", :target => '_blank' %>
      and access the full instructions.
    </h4>

</div>
