<%= image_tag(@user.image, :width => 250, :class => 'img-circle') %>
<p>
  First Name: <%= @user.first_name %>
</p>
<p>
  Last Name: <%= @user.last_name %>
</p>
<p>
  Email address: <%= @user.email %>
</p>
<p>
  Date joined: <%= @user.created_at %>
</p>
<p>
  Last seen: <%= @user.last_sign_in_at %>
</p>
<%= link_to "Edit Profile", edit_user_registration_path %>
