<div class="border-form-div">

<% if @user.image.blank? %>
  <%= image_tag "defaultprofile.jpg", :width => 250 %>
<% else %>
  <%= image_tag @user.image, :width => 250, :class => "img-circle" %>
<% end %>

<p>
  First Name: <%= @user.first_name %>
</p>
<p>
  Last Name: <%= @user.last_name %>
</p>
<p>
  Email address: <%= @user.email %>
</p>
<p>
  Date joined: <%= @user.created_at.strftime("%m/%d/%Y") %>
</p>
<p>
  Last seen: <%= time_ago_in_words(@user.last_sign_in_at) %> ago
</p>
<%= link_to "Edit Profile", edit_user_registration_path %>

</div>
