<!DOCTYPE html>
<html>
<head>
  <title>RecipeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <% if user_signed_in? %>
    <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
    <li> <%= link_to "Edit Profile", edit_user_registration_path %> </li>
    <li> <%= link_to "View Your Profile", user_path(current_user) %> </li>
  <% else %>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <li><%= link_to "Log In", new_user_session_path %></li>
  <% end %>
</ul>

  <% flash.each do |type, message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
